<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primary</key>
	<string>nQi0F5fwmdZNu3aLRXoM4ZVYwy/tGCJwVj94VGQ92RI=</string>
	<key>secondary</key>
	<string>LfIhYdLQiHVsf+0XmzFlNwK4ReNeLv2C7ZIg4dkTyZ8=</string>
	<key>name</key>
	<string>registryReadWrite</string>
</dict>
</plist>
